<div class="posts">
    {% for post_and_user in posts_and_users %}
    <div class="posts_post">
        <div class="posts_post_creator">
            <img src="{{post_and_user.creator.profile_pic.url}}" alt="{{post_and_user.creator.username}}">
            <a href="">
                <a href="">
                    <p>
                        {{post_and_user.creator.username}}
                    </p>
                </a>
            </a>
        </div>
        <div class="posts_post_imageContent">
            <img src="{{post_and_user.post.image.url}}" alt="{{post_and_user.post.title}}" style="width: 300px;">
        </div>
        <div class="posts_post_textContent">
            <h3>
                <strong>{{post_and_user.creator.username}}</strong> {{ post_and_user.post.title }}
            </h3>
            <p>
                {{ post_and_user.post.description }}

            </p>
        </div>
    </div>        

    {% endfor %}
</div>