<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>WNB Blog</title>
</head>
<body>

    <header>
        <div class="header_title">
            <a href="/" class="header_title_a">
                <h1 class="header_title_a--h1">
                    BNW 
                </h1>
            </a>
        </div>

        <div class="header_actions">

        </div>

        <div class="header_user">
        {% if is_logged %}
            <div class="header_user_logged">
                <div class="header_user_logged_info">
                    <p>
                        {{ user.username }}
                    </p>
                    <img src="{{ user.profile_pic.url }}" alt="user image">
                    <div class="header_user_logged_info_options">
                        <a href="{% url 'posts:newpost' %}">
                            <button>
                                new post
                            </button>
                        </a>
                        <a href="{% url 'users:my_profile' %}">
                            <button>
                                account
                            </button>
                        </a>
                        <a href="{% url 'users:logout' %}">
                            <button>
                                logout
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="header_user_notLogged">

                <a href="{% url 'users:register' %}">
                    <button>
                        register
                    </button>
                </a>

                <a href="{% url 'users:login' %}">
                    <button>
                        login
                    </button>
                </a>
            </div>
        {% endif %}
        </div>
    </header>

    {% block content %}
    {% endblock %}
</body>
</html>